<?xml version="1.0" encoding="utf-8"?>
<!-- 開發環境專用設定檔，請勿提交到版本控制 -->
<configuration>
  <appSettings>
    <!-- 開發環境自動登入設定 -->
    <add key="DevAutoLogin.Enabled" value="true"/>
    <add key="DevAutoLogin.Account" value="gregchen@geosense.tw"/>
    <add key="DevAutoLogin.UserID" value="75"/>
  </appSettings>
</configuration>