
.btn {
    padding: 8px 14px;
    min-width: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    white-space: nowrap;
    line-height: normal;
    gap: 4px;
    i {
        margin-bottom: -1px;
    }

    &:disabled {
        background-color: $neutral-400;
        color: #fff;
    }

    &.rounded-pill {
        padding: 8px 12px;
    }
}

.btn-cyan {
    background-color: $cyan;
    color: #fff;
    border: 1px solid $cyan;
    border-radius: 4px;
    &:hover {
        background-color: $cyan-hover;
        color: #fff;
    }
    &:active {
        background-color: $cyan-active !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: $cyan-active;
        color: #fff;
    }
}
.btn-teal,.btn-blue-green2 {
    background-color: $teal;
    color: #fff;
    border: 1px solid $teal;
    border-radius: 4px;
    &:hover {
        background-color: $teal-hover;
        color: #fff;
    }
    &:active {
        background-color: $teal-active !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: $teal-active;
        color: #fff;
    }
}

.btn-blue {
    background-color: $blue;
    color: #fff;
    border: 1px solid $blue;
    border-radius: 4px;
    &:hover {
        background-color: $blue-hover;
        color: #fff;
    }
    &:active {
        background-color: $blue-active !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: $blue-active;
        color: #fff;
    }
}
.btn-blue-deep {
    background-color: $blue-deep;
    color: #fff;
    border: 1px solid $blue-deep;
    border-radius: 4px;
    &:hover {
        background-color: $blue-deep-hover;
        color: #fff;
    }
    &:active {
        background-color: $blue-deep !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: $blue-deep;
        color: #fff;
    }
}
.btn-royal-blue {
    background-color: $royal-blue;
    color: #fff;
    border: 1px solid $royal-blue;
    border-radius: 4px;
    &:hover {
        background-color: lighten($royal-blue, 20%);
        color: #fff;
    }
    &:active {
        background-color: darken($royal-blue, 10%) !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: darken($royal-blue, 10%);
        color: #fff;
    }
}

.btn-ocean-blue {
    background-color: $ocean-blue;
    color: #fff;
    border: 1px solid $ocean-blue;
    border-radius: 4px;
    &:hover {
        background-color: $ocean-blue;
        color: #fff;
    }
    &:active {
        background-color: $ocean-blue !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: $ocean-blue;
        color: #fff;
    }
}

.btn-gray {
    background-color: $neutral-650;
    color: #fff;
    border: 1px solid $neutral-650;
    border-radius: 4px;
    &:hover {
        background-color: $neutral-500;
        color: #fff;
    }
    &:active {
        background-color: #4B4B4B !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: #4B4B4B;
        color: #fff;
    }
}

.btn-blue-purple {
    background-color: $blue-purple;
    color: #fff;
    border: 1px solid $blue-purple;
    border-radius: 4px;
    &:hover {
        background-color: $blue-purple;
        color: #fff;
    }
    &:active {
        background-color: $blue-purple !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: $blue-purple;
        color: #fff;
    }
}

.btn-teal-dark,.btn-dark-green2{
    background-color: $teal-dark;
    color: #fff;
    border: 1px solid $teal-dark;
    border-radius: 4px;
    &:hover {
        background-color: $teal-dark-hover !important;
        color: #fff;
    }
    &:active {
        background-color: $teal-dark-active !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: $teal-dark-active;
        color: #fff;
    }
}

.btn-pink {
    background-color: $pink;
    color: #fff;
    border: 1px solid $pink;
    border-radius: 4px;
    &:hover {
        background-color: lighten($pink, 10%);
        color: #fff;
    }
    &:active {
        background-color: darken($pink, 10%) !important ;
        color: #fff !important;
    }
    &:focus {
        background-color: darken($pink, 10%);
        color: #fff;
    } 
}

.btn-outline-blue {
    border: 2px solid $blue;
    color: $blue;
    background-color: #fff;
    &:hover {
        border: 2px solid $blue;
        background-color: $blue-outline-hover;
        color: #fff;
    }
    &:active {
        background-color: $blue !important  ;
        color: #fff !important;
        border: 2px solid $blue !important;
    }
    &:focus {
        background-color: $blue !important  ;
        color: #fff !important;
        border: 2px solid $blue !important;
    }
}

.btn-outline-green {
    border: 2px solid $green;
    color: $green;
    background-color: #fff;
    &:hover {
        border: 2px solid $green;
        background-color: $green-outline-hover;
        color: #fff;
    }
    &:active {
        background-color: $green !important;
        color: #fff !important;
        border: 2px solid $green !important;
    }
    &:focus {
        background-color: $green !important;
        color: #fff !important;
        border: 2px solid $green !important;
    }
}

.btn-outline-pink {
    border: 2px solid $pink;
    color: $pink;
    background-color: #fff;
    &:hover {
        border: 2px solid $pink;
        background-color: $pink-outline-hover;
        color: #fff;
    }
    &:active {
        background-color: $pink-outline-hover !important;
        color: #fff !important;
        border: 2px solid $pink !important;
    }   
    &:focus {
        background-color: $pink !important;
        color: #fff !important;
        border: 2px solid $pink !important;
    }
}
.btn-outline-teal {
    border: 2px solid $teal;
    color: $teal;
    background-color: #fff;
    &:hover {
        border: 2px solid $teal;
        background-color: $teal-outline-hover;
        color: $teal;
    }
    &:active {
        background-color: $teal-outline-active !important;
        color: $teal !important;
        border: 2px solid $teal !important;
    }   
    &:focus {
        background-color: $teal-outline-active !important;
        color: $teal !important;
        border: 2px solid $teal !important;
    }
}

.btn-sm {
    display: flex;
    padding: 8px;
    min-width: unset;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 6px;
    min-height: 33px;
    svg {
        height: 14px;
        width: 14px;
    }
}

.btn-group-teal-dark {
    display: flex;
    border-radius: 4px;
    border: 1px solid $teal-dark;
    input {
        display: none;
    }
    label {
        margin: 0;
        padding: 8px 10px;
        border-radius: 0;
        border: none;
        cursor: pointer;
        color: $teal-dark;
        line-height: normal;
    }
    input:checked + label {
        background-color: $teal-dark;
        color: #fff;
    }
}
//核定模式&排序模式切換顯示
.block:has(.btn-group-teal-dark .approval-mode:checked ) {
    .approval-mode-table {
        display: block;
    }
    .sort-mode-table {
        display: none;
    }
}
.block:has(.btn-group-teal-dark .sort-mode:checked ) {
    .approval-mode-table {
        display: none;
    }
    .sort-mode-table {
        display: block;
    }
}

.btn-tooltip {
    outline: none;
    border: none;
}

