.form-control {
    font-size: 1.125rem;
    border-radius: 4px;
    border: 1px solid $neutral-400;
    &::placeholder {
        color: $neutral-400;
    }
    &:disabled {
        background-color: $neutral-250;
        border-color: $neutral-400;
    }
}

.form-select {
    font-size: 1.125rem;
    border: 1px solid $neutral-400;
    border-radius: 4px;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23C5C5C5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")
}

.input-group {
    .input-group-text {
        background-color: #D9D9D9;
        font-size: 1.125rem;
        border: 1px solid #C5C5C5;
        text-align: center;
    }
    .btn {
        padding: 0px;
        &:disabled {
            border: 1px solid #919191 !important;
        }
    }
}


.form-check-input-group {
    --grid-columns: 3;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), auto 1fr);
    gap: 8px 0;
    font-size: 1.125rem;
    label {
        margin-right: 16px;
        padding-left: 6px;
    }
    @media (max-width: $lg) {
        grid-template-columns: repeat(2, auto 1fr);
    }
    @media (max-width: $lg) {
        grid-template-columns: repeat(1, auto 1fr);
    }

}



.form-check-input {
    margin: 0;
    border-color: $cyan;
    border-width: 2px;
    margin-bottom: 3px;
    width: 1.2rem;
    height: 1.2rem;

    //資訊系統主題色
    &.check-teal,&.blue-green-check {
        border-color: $teal;
    }
}

.form-check-input[type=radio] {
    &:disabled {
        border-color: $neutral-400;
        --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23C5C5C5'/%3e%3c/svg%3e");
        +label {
            color: $neutral-400;
        }
    }
}

.form-check-input:checked[type=radio] {
    background-color: #fff;
    border-color: $cyan;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%232DC3C1'/%3e%3c/svg%3e");
    box-shadow: unset;

    &.check-teal,&.blue-green-check {
        border-color: $teal;
        --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%2326A69A'/%3e%3c/svg%3e");
    }
    &:disabled {
        border-color: $neutral-400;
        --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23C5C5C5'/%3e%3c/svg%3e");
        +label {
            color: #000;
        }
    }
}

.form-check-input[type=checkbox] {
    &:disabled {
        border-color: $neutral-400
    }
}

.form-check-input:checked[type=checkbox] {
    background-color: $cyan;
    border-color: $cyan;
    &:focus {
        border-color: $cyan;
        box-shadow: 0 0 0 .25rem rgba(203, 240, 255, 0.5);
    }

    
    //資訊系統主題色
    &.check-teal,&.blue-green-check {
        &:checked {
            background-color: $teal;
            border-color: $teal;
        }
        
        &:focus {
            border-color: $teal;
            box-shadow: 0 0 0 .25rem rgba(38, 166, 154, 0.25);
        }
        
        &:checked:focus {
            background-color: $teal;
            border-color: $teal;
            box-shadow: 0 0 0 .25rem rgba(38, 166, 154, 0.25);
        }
        &:disabled {
            background-color: $neutral-400 !important;
            border-color: $neutral-400 !important;
        }
    }

}





.verification-code {
    display: flex;
    align-items: center;
    gap: 10px;
    input {
        width: 100%;
    }
    button {
        width: 120px;
        white-space: nowrap;
    }
    @media (max-width: $sm) {
        flex-direction: column;
        align-items: start;
        input {
            width: 100%;
        }
    }
}

.invalid {
    color: $pink;
    font-size: 0.875rem; 
    margin-top: 12px;
    display: inline-block;   
}

// ===================================================
// 自動調整高度的文本區域
// ===================================================

// 自動調整高度的 textarea
.textarea-auto-resize {
    min-height: 3rem; // 48px
    max-height: 1000rem; 
    height: auto;
    overflow-y: hidden;
    resize: none;
    transition: height 0.2s ease;
    
    &:focus {
        outline: 2px solid $pink;
        outline-offset: 2px;
    }
    
    // 當達到最大高度時顯示滾動條
    &.scrollable {
        overflow-y: auto;
    }
}


//tom select
.form-select {
    &.ts-wrapper {
        list-height: unset;
        min-height: 40px;
    }
    .ts-control {
        border: 0;
        padding: 3px;
        input {
            font-size: 16px;
        }

    }
}
.ts-wrapper.multi .ts-control > div {
    &.item {
        margin: 0;
        margin: 0 6px 0px 0;
    }
}
