.link {
    text-underline-offset: 3px;
    color: $blue;
    &:hover {
        color: $blue-hover;
    }
    &-teal {
        color: $teal;
        &:hover {
            color: #000;
        }
    }
    &-black {
        color: #000;
    }
}
