.modal-header {
    border: 0;
    padding-block: 24px;
    padding-inline: 32px;
    .btn-close {
        background: unset;
        font-size: 1.5rem;

    }
}

.modal-body {
    padding-bottom: 40px;
    padding-inline: 32px;
}

