.page-number-control {
    display: flex;
    gap: 10px;
    &-item {
        display: flex;
        align-items: center;
        gap: 8px;
        span { 
            text-wrap: nowrap;
        }
        select {
            border: 0; 
            min-width: 60px;
        }
    }
}