.tag-group {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 12px;
}
.tag {
    padding: 6px 10px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 0.875rem;
    white-space: nowrap;
    line-height: 0;
    transition: background-color 0.3s ease;
    min-height: 26px;
    &.tag-gray {
        background-color: $neutral-700;
        color: #FFFFFF;
    }
    &.tag-green-light {
        background-color: $green-light;
        a,.tag-btn {
            color: #fff;
        }
        a {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }


    .tag-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $neutral-700;
        background: unset ;
        border:0 ;
        padding: 0;
        font-size: 1rem;
    }

    .tag-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        gap: 6px;

        button {
            padding: 0;
            border: 0;
            background: unset;
        }

    }
}

.tag-gray:has(.tag-link):hover {
    background-color: #393939;
}
.tag-green-light:has(.tag-link):hover {
    background-color: darken($green-light, 5%);
}

.app-mode-view:has(.tag) {
    .tag {
        .tag-link {
            ~.tag-btn {
                display: none;
            }
        }
    }
}


.color-tag {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 4px;
}

.tag-white {
    background-color: #fff;
    color: $teal;
    border-radius: 20px;
    padding: 10px 14px;
}
.tag-teal {
    background-color: $teal-dark;
    color: #fff;
    border-radius: 20px;
    padding: 10px 14px;
}

.tag-pale-green {
    background-color: $pale-green;
    border: 1px solid $teal-dark;
    color: $teal-dark;
    line-height: 1;
    border-radius: 6px;
}

.tag-light-gray {
    border: 1px solid $neutral-700;
    color: $neutral-700;
    background-color: #D1D8D8;
    line-height: 1;
    border-radius: 6px;
}
.tag-light-pink {
    border: 1px solid $pink;
    color: $pink;
    background-color: #F0D9E4;
    line-height: 1;
    border-radius: 6px;
}

.tag-pink {
    background-color: $pink;
    color: #fff;
    border-radius: 6px;
    line-height: 1;
}