.total-list {
    display: flex;
    flex-wrap: nowrap;
    background-color: $teal;
    color: #fff;
    text-wrap: nowrap;
    text-align: end;
    overflow-x: auto;

    .total-item-title {
        font-size: 1.125rem;
        margin-bottom: 16px;
    }
    .total-item {
        flex: 1;
        margin-block: 10px;
        >a {
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 10px 24px;
            transition: 0.3s ease;
            margin-inline: 10px;
        }
        &-content {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
            .count {
                font-size: 2.5rem;
                font-weight: 700;
                font-family: 'Inter', sans-serif;
                line-height: 1;
            }
            .unit {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
                color: $pale-green;
            }
        }
        &:not(:last-child) {
            border-right: 1px solid #fff;
        }
        &.active {
            >a {
                background-color: $green-light;
            }
        }
        &:hover {
            >a {
                background-color: $green-light;
            }
        }

    }

    &.tab-white {
        background-color: $teal-dark;
        .total-item {
            margin-bottom: 0;
            >a {
                background-color: $teal-dark;
            }
            &.active,&:hover {
                >a {
                    background-color: white;
                    color: $teal-dark;
                    .unit {
                        color: $teal-dark;
                    }
                }
            }
            
        }

    }
    &.tab-light-green {
        .total-item {
            margin-bottom: 0;
            &.active,&:hover {
                >a {
                    background-color: $light-teal-100;
                    color: $teal;
                    .unit {
                        color: $teal;
                    }
                }
            }
        }
    }
}

.multiple-option {
    padding: 0;
    .all-total {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding-inline: 10px;
        padding-right: 40px;
        flex: 1;
        background-color: $teal-dark;
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
    }
    .total-item {
        margin-block: 10px;
        display: grid;
        align-items: center;
        .total-checkbox {
            display: none;
        }
        .checke-total {
            padding: 8px 24px;
            margin-inline: 10px;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 24px;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                background-color: $green-light;
            }
            .check-icon {
                display: none;
            }
        }
    }

    .total-item:has(.total-checkbox:checked) {
        .check-icon {
            display: block;
        }

    }

}

// 經費顯示樣式
.total-label {
    border-left: 10px solid $teal-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: $neutral-100;
    .total-label-item-title {
        font-size: 1.35rem;
        font-weight: 700;
        color: $teal-dark;
    }
    .total-label-item-content {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        .count {
            font-size: 2.4375rem;
            color: $dark-green;
        }
        .unit {
            font-size: 1.35rem;
            color: $teal-dark;
        }
    }
}