// 斷點
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1920px,
);
$sm: map-get($grid-breakpoints, 'sm');
$md: map-get($grid-breakpoints, 'md');
$lg: map-get($grid-breakpoints, 'lg');
$xl: map-get($grid-breakpoints, 'xl');
$xxl: map-get($grid-breakpoints, 'xxl');
$xxxl: map-get($grid-breakpoints, 'xxxl');

$page-width: 1440px;
$page-inner-width: 1040px;
$page-inner-width-lg: 1280px;
$page-inner-width-full: 100%;

// Color Theme
$yellow: #FFC51B;
$butter-yellow: #FFF7D5;
$gray: #5C5C5C;
$light-gray: #C2C2C2;
$cyan: #1BB5DB;
$cyan-hover: #179CBD;
$cyan-active: #0F748D;
$blue: #448AFF;
$ocean-blue: #0882BF;
$blue-hover: #2A68D0;
$blue-active: #003387;
$blue-outline-hover: #91BAFF;
$light-blue: #D1E2FF;
$royal-blue: #1976D2;
$green: #2DC3C1;
$green-outline-hover: #92D4D3;
$pink: #F76195;
$pink-outline-hover: #EB90AF;
$light-green: #D8E7EB;
$light-green-teal: #E0F2F1; // 新增色碼
$blue-purple: #5A7FE5;
$dark-green: #005E53;
$green-light: #26C6DA;
$yellow-hover: #FFF600;
$teal-dark: #037F72;
$teal-dark-hover: #26A69A;
$teal-dark-active: #00413A;
$light-teal-100: #EFF8F8;
$light-teal: #F4FCE8;
$teal: #26A69A;
$teal-hover: #70C7BF;
$teal-active: #00413A;
$teal-outline-hover: #F4FCE8;
$teal-outline-active: #C8E6C9;
$pale-green: #C8E6C9;
$blue-material: #2196F3;
$green-lime: #CDDC39;
$orange-deep: #FF7043;
$blue-deep: #0078C2;
$blue-deep-hover: #005E99;
$ocean-deep: #046B9F;



// Colors
$neutral-100: #F5F5F5;
$neutral-200: #EEEEEE;
$neutral-250: #E9ECEF;
$neutral-300: #DDDDDD;
$neutral-350: #D9D9D9;
$neutral-400: #C5C5C5;
$neutral-500: #BBBBBB;
$neutral-600: #858585;
$neutral-650: #777777;
$neutral-700: #5C5C5C;


//homepage color
$homepage-primary: #032C61;
$homepage-secondary: #046B9F;
$homepage-third: #2B69D4;
$homepage-yellow: #FFC51B;
$homepage-green: #2DC3C1;

// 
// 其他


// a link


// Modal

// Icon
$font-awesone: "Font Awesome 6 Free";
$material-symbols: "Material Symbols Rounded";

// 其他
$shadow: 0px 0px 20px 0px rgba(184, 180, 180, 0.30);
$header-height: calc(64px + 40px);


