@import "reset";

// BS setting
@import "../vendor/bootstrap-5.3.3/scss/functions";
@import "../vendor/bootstrap-5.3.3/scss/variables";
@import "../vendor/bootstrap-5.3.3/scss/variables-dark";
@import "../vendor/bootstrap-5.3.3/scss/maps";
@import "../vendor/bootstrap-5.3.3/scss/mixins";


@import "variables";
@import "mixins";
@import "utilities";
@import "components";



.login-wrap {
    width: 100%;
    min-height: 100dvh;
    background: url(../img/login/wave1.svg) no-repeat , url(../img/login/wave2.svg) no-repeat, linear-gradient(180deg, #D5E4FF 0%, #4069BD 35.1%, #2DC2C1 100%);
    position: relative;
    overflow-y: auto;
    background-size: 100% ;
    background-position: center bottom -30vh, center bottom -30vh ,center bottom;
    .logo {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media (max-width: $lg) {
        background-size: 150%;
        background-position: center bottom 0, center bottom 0;
    }



    .info {
        color: #fff;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 24px; /* 160% */
        list-style: none;
        padding: 0;
        text-align: center;
        margin-top: 50px;
        
    }
}

.login-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 530px;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);

    @media (max-width: $lg) {
        padding-inline: 16px;
    }

    h1 {
        font-size: 2.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 33px; 
        letter-spacing: 2.2px;
        color: $yellow;
        margin-top: 20px;
        margin-bottom: 50px;
        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        @media (max-width: $lg) {
            font-size: 2rem;
            margin-bottom: 20px;
        }
    }
}

.login-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 100px;

    @media (max-width: $lg) {
        padding: 32px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    a {
        color: $gray;
        font-size: 0.9375rem;
        text-decoration: none;
        font-weight: 400;
    }
    .form-group {
        .form-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 6px;
            color: $gray;
        }
    }
    .form-icon-input {
        font-size: 1.125rem;
        color: $gray;
        border: 1px solid $gray;
        border-radius: 4px;
        padding: 8px 14px;
        display: flex;
        align-items: center;
        position: relative;
        .icon {
            border-right: 1px solid $light-gray;
            margin-right: 12px;
            padding-right: 12px;
            color: $light-gray;
        }
        input {
            border: 0;
            outline: 0;
            width: 100%;
            
            &::placeholder {
                color: $light-gray;
            }
        }
    }

    .eye-warp {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        button {
            border: 0;
            background-color: transparent;
            color: $light-gray;
            font-size: 1.125rem;
            padding: 0;
        }
    }
}


//portal
.portal-container {
    max-width: 900px;
    margin: 32px auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (max-width: $lg) {
        padding-inline: 16px;
    }
    .logo {
        max-width: 530px;
    }
    h1 {
        font-size: 2.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 33px; 
        letter-spacing: 2.2px;
        color: $yellow;
        margin-top: 20px;
        margin-bottom: 50px;
        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        @media (max-width: $lg) {
            font-size: 2rem;
            margin-bottom: 20px;
        }
    }
}
.portal-menu {
    display: flex;
    gap: 28px;
    width: 100%;
    padding-top: 30px;
    justify-content: center;
    @media (max-width: $lg) {
        padding-inline: 30px;
    }   
    @media (max-width: $md) {
        gap: 16px;
        flex-direction: column;
        padding-inline: 0px;
    }   
    &-item {
        padding-top: 24px;
        width: 280px;
        background-color: #fff;
        border-radius: 16px 16px  140px 140px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        
        @media (max-width: $md) {
            padding-top: 0;
            width: 100%;
            flex-direction: row;
            border-radius: 16px;
            position: relative;
            &:not(:last-child) {
                .img {
                    display: none;
                }
            }
            &:last-child {
                .img {
                    position: absolute;
                    right: -80px;
                    top: 0;
                    z-index: 1;
                }
            }
        }
        .info-wrap {
            padding: 24px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            flex-grow: 1;
            justify-content: space-between;
            @media (max-width: $md) {
                justify-content: center;
                position: relative;
                z-index: 2;
            }
        }
        h2 {
            font-size: 1.625rem;
            line-height: 39px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $ocean-blue;
            font-weight: 700;
            text-align: center;
            @media (max-width: $lg) {
                font-size: 1.325rem;
            }
            @media (max-width: $md) {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
        .img {
            display: flex;
            align-items: end;
            height: 250px;
            img {
                object-fit: cover;
            }
            @media (max-width: $lg) {
                height: 220px;
            }
            @media (max-width: $md) {
                height: 160px;
            }
        }
    }
}

//introduce
.portal-container:has(.introduce-wrap) {
    max-width: 800px;
}

.introduce-wrap {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 16px;

    @media (max-width: $lg) {
        padding: 32px 24px;
        margin: 20px auto;
    }

    @media (max-width: $md) {
        padding: 24px 16px;
    }


    // 海洋科學研究指引區塊
    .introduce-section {
        margin-bottom: 30px;

        .introduce-title {
            font-size: 1.625rem;
            font-weight: 700;
            color: $ocean-deep;
            line-height: 1.3;
            margin-bottom: 16px;

            @media (max-width: $lg) {
                font-size: 1.375rem;
            }

            @media (max-width: $md) {
                font-size: 1.25rem;
            }
        }

        .introduce-text {
            font-size: 1.25rem;
            line-height: 1.65;
            color: #000;
            margin-bottom: 12px;
            text-align: justify;

            @media (max-width: $lg) {
                font-size: 1.125rem;
            }

            @media (max-width: $md) {
                font-size: 1rem;
            }
        }

        .introduce-link {
            color:$ocean-deep;
            font-size: 1rem;
            text-decoration: underline;
            transition: all 0.3s ease;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    // 海洋領域補助案相關法規區塊
    .introduce-regulations {
        background-color: #DFE3E8;
        padding: 24px;
        border-radius: 8px;

        .regulations-title {
            font-size: 1.375rem;
            font-weight: 700;
            color: $ocean-deep;
            margin-bottom: 16px;

            @media (max-width: $lg) {
                font-size: 1.25rem;
            }

            @media (max-width: $md) {
                font-size: 1.125rem;
            }
        }

        .regulations-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .regulations-item {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 12px 0;
            border-bottom: 1px solid $neutral-600;
            color: #000;
            a {
                text-decoration: none;
                font-size: 1rem;
                color: #000;
                line-height: 1.5;
                transition: all 0.3s ease;
                @media (max-width: $md) {
                    font-size: 0.875rem;
                }
                &:hover {
                    color: $ocean-deep;
                }

            }
            &:last-child {
                border-bottom: none;
            }

        }
    }
}
