<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
  <serverUrls>
    <serverUrl url="https://projects.geosense.tw/"
               matchAll="true"/>
    <serverUrl url="http://projects.geosense.tw/"
               matchAll="true"/>
    <serverUrl url="http://wmts.nlsc.gov.tw"
               matchAll="true"/>
    <serverUrl url="https://wmts.nlsc.gov.tw"
               matchAll="true"/>
  </serverUrls>
  <logFile>../log/proxy.log</logFile>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->